# Install Dependencies
install:

# Testing -> More Testing -> Deployment 
jobs:
  include:
      # Backend
    - stage: "Testing"
      if: True
      name: "Backend Tests (Python)"
      script:
      - python -c "print('Hi from Python!')"
      - cd backend
      - python -m py_compile *.py
      - python inference_tests.py

      # Frontend 
    - stage: "Testing"
      if: True
      name: "Frontend Tests (JS)"
      language: node_js
      node_js: 12
      script:
      - node -e "console.log('Hi from NodeJS!')"
      - cd frontend
      - npm install
      - npm test
      
      # Integration Test 
    - stage: "Even More Testing"
      if: True
      name: "Other Tests"
      script:
      - cd backend
      - pytest api-tests.py
      
      # deployment to AWS (not implemented), build is done locally
    - stage: "Deploying"
      if: False
      script: skip
      deploy: 
        if: branch = master
        provider: s3
        access_key_id: 
          secure: "YOUR ENCRYPTED AWS ACCESS KEY"
        secret_access_key: 
          secure: "YOUR ENCRYPTED AWS SECRET KEY"
        bucket: "S3 Bucket"
        skip_cleanup: true
        
after_success:
  - echo 'Build Passed'
  
after_failure:
  - echo 'f'
